<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tu t'es perdu ?</title>
</head>
<body>
    <h1>La page que tu cherches n'existe pas</h1>
    <p>Clique <a href="/">ici</a> pour revenir à la page de commandes</p>
</body>
</html>