<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
</head>

<body>
    <h1>Connexion</h1>
    <!-- todo: login + mdp propre à chaque membre -->
    <b>Entre ton mot de passe</b>
    <input type="password" id="password_input" hint="mot de passe">
    <input type="button" id="password_submit" value="Valider">
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/jquery.cookie.js"></script>
<script src="/js/admin_login.js"></script>
</html>