<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
    <link rel="stylesheet" href="/css/example.css">

    <title>Connexion</title>
    
</head>

<body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <ul class="navbar-nav">
                  <li class="nav-item ">
                    <a class="nav-link" href="/pages/commande">Commander un SOS</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="/pages/admin">Je suis un Koh</a>
                  </li>
                </ul>
              </nav>
              <h1 id="main_title">Immulistés</h1>
    <h1>Connexion</h1>
    <!-- TODO: login + mdp propre à chaque membre -->
    <b>Entre ton mot de passe</b>
    <input type="password" id="password_input" hint="mot de passe">
    <input type="button" id="password_submit" value="Valider">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/jquery.cookie.js"></script>
<script src="/js/admin_login.js"></script>
</html>