<!DOCTYPE html>
<html lang="en">
<head>
    <title>Commande de SOS</title>
    <link rel="stylesheet" href="/css/example.css">
    <!-- <script src='https://www.google.com/recaptcha/api.js?render=6LeHFo0UAAAAAFVuf_s4i2PMudRgzpju2HWoXKUJ'></script> -->
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
    <h1 id="main_title">Immulistés</h1>
    <div class="header">
        <p>Si tu ne vois pas ta commande, check tes mails</p>
        <div id="tracking_links"></div>
        <!-- <div>
            <p>Tu ne vois pas ta commande ? ajoute-la avec son id :</p>
            <input type="text" id="input_command_id">
            <input type="button" id="submit_command_id" value="Valider">
        </div> -->
        <div id="tracking_informations"></div>
    </div>
    <h1>Commande de SOS</h1>
    <div id="command_block">
        <div class="block" id="div_sos_choice">
            <p>Choisis ton SOS</p>  
            <select id="sos_choice">
                <option>SOS 1</option>
                <option>SOS 2</option>
                <option>...</option>
            </select>
        </div>
        <div class="block"  id="div_date_choice">
            <p>Choisis la date et l'heure de livraison</p>
            <input id="date_choice" type="date">
            <input id="time_choice" type="time">
        </div>
        <div class="block"  id="div_adress">
            <p>Choisis l'adresse de livraison</p>
            <input id="adress_choice" type="text">
        </div>
        <div class="block"  id="div_email">
            <p>entre ton email pour suivre facilement ta commande</p>
            <input type="text" placeholder="exemple@mail.com" id="email_choice">
        </div>
        <div class="block"  id="div_additionnal_informations">
            <p>Autre chose chef ?</p>
            <textarea id="additionnal_informations" placeholder="informations complémentaires"></textarea>
        </div>
    </div>
    <div class="g-recaptcha" data-sitekey="6LfvHo0UAAAAAD7ZorJPRnsYk8ZQuGFLNvF962cz"></div>
    <input id="submit" type="button" value="valider">
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/jquery.cookie.js"></script>
<script src="/js/commande.js"></script>

</html>