
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="black-text">SOS - Les Immulistés</h5>
        <p class="black-text text-lighten-4"> </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="black-text">Quelques liens :</h5>
        <ul>
          <li><a class="black-text text-lighten-3" target="_blank" href="https://www.facebook.com/lesimmulistes/">Facebook</a></li>
          <li><a class="black-text text-lighten-3"target="_blank"  href="https://www.youtube.com/channel/UC99eGE0i4d90Gia_Dw07SrA">Youtube</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2018 Copyright Immulistés
    </div>
  </div>
</footer>